<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           				">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="default" autowire="default">
		<property name="locations">
			<list>
				<value>classpath:config_${env}.properties</value>
			</list>
		</property>
		 <property name="fileEncoding">
          <value>UTF-8</value>
      </property>  
	</bean>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mysqlDataSource" />
    </bean>
    
	<tx:annotation-driven transaction-manager="txManager" />
	
	<!-- this is the Message Driven POJO (MDP) -->
    <bean id="messageListener" class="org.springframework.data.redis.listener.adapter.MessageListenerAdapter">
        <constructor-arg>
            <bean class="cn.halen.data.redis.SkuChangeListener"/>
        </constructor-arg>
    </bean>

    <!-- and this is the message listener container... -->
    <bean id="redisContainer" class="org.springframework.data.redis.listener.RedisMessageListenerContainer">
        <property name="connectionFactory" ref="redisConnectionFactory"/>
        <property name="messageListeners">
          <!-- map of listeners and their associated topics (channels or/and patterns) -->
          <map>
            <entry key-ref="messageListener">
                <bean class="org.springframework.data.redis.listener.ChannelTopic">
                   <constructor-arg value="foo"/>
                </bean>
            </entry>
          </map>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000"/>
    </bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.halen.data.mapper" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="configLocation" value="classpath:mybatis.cfg.xml"></property>
	</bean>
	
	<bean id="deliveryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="cn.halen.data.mapper.DeliveryMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="cityMapper" class="cn.halen.data.mapper.CityMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="goodsMapper" class="cn.halen.data.mapper.GoodsMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="mySkuMapper" class="cn.halen.data.mapper.MySkuMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="myTradeMapper" class="cn.halen.data.mapper.MyTradeMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="areaMapper" class="cn.halen.data.mapper.AreaMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="itemPropMapper" class="cn.halen.data.mapper.ItemPropMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="myLogisticsCompanyMapper" class="cn.halen.data.mapper.MyLogisticsCompanyMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="adminMapper" class="cn.halen.data.mapper.AdminMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="refundMapper" class="cn.halen.data.mapper.RefundMapper">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

    <bean id="wareHouseMapper" class="cn.halen.data.mapper.WareHouseMapper">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="migrationMapper" class="cn.halen.data.mapper.MigrationMapper">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

</beans>
