<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.halen.data.mapper.ConfigurationMapper">

	<select id="selectByKey1" parameterType="java.util.Map" resultType="Configuration">
	    select * from configuration where key_space=#{key_space} and key1=#{key1}
	</select>
    <select id="listByKeySpace" parameterType="String" resultType="Configuration">
        select * from configuration where key_space=#{key_space}
    </select>
	
	<update id="update" parameterType="Configuration">
		update configuration set value=#{value} where key_space=#{key_space} and key1=#{key1}
	</update>
	
	<insert id="insert" parameterType="Configuration">
		insert into configuration(key_space, key1, type, value) values(#{key_space},
		#{key1}, #{type}, #{value})
	</insert>
</mapper>