<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.halen.data.mapper.MyTradeMapper">

	<resultMap id="myTradeMap" type="MyTrade">
        <id property="id" column="id"/>
        <result property="tid" column="tid"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="mobile" column="mobile"/>
        <result property="state" column="state"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="address" column="address"/>
        <result property="postcode" column="postcode"/>
        <result property="delivery" column="delivery"/>
        <result property="delivery_number" column="delivery_number"/><result property="delivery_money" column="delivery_money"/>
        <result property="destcode" column="destcode"/><result property="origincode" column="origincode"/>
        <result property="sf_status" column="sf_status"/>
        <result property="template_id" column="template_id"/>
        <result property="total_weight" column="total_weight"/>
        <result property="goods_count" column="goods_count"/>
        <result property="payment" column="payment"/>
        <result property="distributor_id" column="distributor_id"/>
        <result property="is_submit" column="is_submit"/>
        <result property="is_refund" column="is_refund"/>
        <result property="is_send" column="is_send"/>
        <result property="is_cancel" column="is_cancel"/>
        <result property="is_finish" column="is_finish"/>
        <result property="is_pause" column="is_pause"/>
        <result property="is_apply_refund" column="is_apply_refund"/>
        <result property="why_cancel" column="why_cancel"/>
        <result property="status" column="status"/><result property="seller_memo" column="seller_memo"/>
        <result property="kefu_memo" column="kefu_memo"/>
        <result property="cangku_memo" column="cangku_memo"/>
        <result property="kefu_msg" column="kefu_msg"/>
        <result property="cangku_msg" column="cangku_msg"/>
        <result property="buyer_message" column="buyer_message"/>
        <result property="seller_nick" column="seller_nick"/><result property="buyer_nick" column="buyer_nick"/>
        <result property="come_from" column="come_from"/><result property="pay_type" column="pay_type"/>
        <result property="return_order" column="return_order"/>
        <result property="goods_id" column="goods_id"/>
        <result property="sku_id" column="sku_id"/>
        <result property="modified" column="modified"/><result property="created" column="created"/>
        <result property="submit_time" column="submit_time"/>
        <result property="cancel_time" column="cancel_time"/>
        <result property="find_time" column="find_time"/>
        <result property="scan_time" column="scan_time"/>
        <result property="send_time" column="send_time"/>

		<collection property="myOrderList" ofType="MyOrder" >
	      	<id property="id" column="o_id"/>
	      	<result property="tid" column="o_tid"/>
	      	<result property="goods_id" column="o_goods_id"/>
	      	<result property="title" column="o_title"/>
	      	<result property="pic_path" column="o_pic_path"/>
	      	<result property="sku_id" column="o_sku_id"/>
	      	<result property="quantity" column="o_quantity"/>
	      	<result property="price" column="o_price"/>
	      	<result property="discount" column="o_discount"/>
	      	<result property="weight" column="o_weight"/>
	      	<result property="payment" column="o_payment"/>
	      	<result property="status" column="o_status"/>
	      	<result property="modified" column="o_modified"/>
	      	<result property="created" column="o_created"/>
	      	<association property="sku" javaType="MySku">
			    <id property="id" column="s_id"/>
                <result property="color_id" column="s_color_id"/>
			    <result property="color" column="s_color"/>
			    <result property="size" column="s_size"/>
			</association>
	    </collection>
	</resultMap>

	<insert id="insert" parameterType="MyTrade">
		insert into trade2 values (#{id}, #{tid}, #{name}, #{phone}, #{mobile}, #{state}, #{city}, #{district}, #{address}, #{postcode}, #{delivery}, #{delivery_number},
			#{delivery_money}, #{destcode}, #{origincode}, #{sf_status}, #{template_id}, #{total_weight}, #{goods_count}, #{payment}, #{distributor_id}, #{is_submit}, #{is_refund}, #{is_send}, #{is_cancel}, #{is_finish}, #{is_pause},
            #{is_apply_refund}, #{why_cancel}, #{status}, #{seller_memo}, #{kefu_memo}, #{cangku_memo}, #{kefu_msg}, #{cangku_msg},
			#{buyer_message}, #{seller_nick}, #{buyer_nick}, #{come_from}, #{pay_type}, #{return_order}, #{goods_id}, #{sku_id}, #{modified}, #{created}, #{submit_time}, #{cancel_time}, #{find_time}, #{scan_time}, #{send_time})
	</insert>
	
	<insert id="insertRefund" parameterType="MyRefund">
		insert into refund(buyer_nick, nick, oid, refund_fee, rid, seller_nick, status, tid, user_id, created)
			values(#{buyer_nick}, #{nick}, #{oid}, #{refund_fee}, #{rid}, #{seller_nick}, #{status}, 
			#{tid}, #{user_id}, now())
	</insert>
	
	<insert id="insertOrder" parameterType="MyOrder">
		insert into order2(tid, goods_id, title, pic_path, sku_id, quantity, price, discount, weight, payment, status, created)
		values(#{tid}, #{goods_id}, #{title}, #{pic_path}, #{sku_id}, #{quantity}, #{price}, #{discount}, #{weight}, #{payment}, #{status}, now())
	</insert>

	<select id="selectById" parameterType="String" resultType="MyTrade">
		select * from trade2 where id=#{id}
	</select>

    <insert id="insertTid" parameterType="String">
        insert into tid values(#{tid})
    </insert>

    <select id="checkTidExist" parameterType="String" resultType="String">
        select * from tid where tid=#{tid}
    </select>
	
	<select id="countTrade" parameterType="java.util.Map" resultType="Long">
		select count(*) from trade2 t
   			<where>
   				<if test="sellerNickList != null">
   					t.seller_nick in (
   					<foreach collection="sellerNickList" item="item" index="index"  
			            separator=",">  
			            #{item}
			        </foreach>
   					)
   				</if>
   				<if test="name != null">
   					and t.name like CONCAT('%', #{name}, '%')
   				</if>
   				<if test="delivery != null">
   					and t.delivery = #{delivery}
   				</if>
   				<if test="tid != null">
   					and t.tid like CONCAT('%', #{tid}, '%')
   				</if>
   				<if test="statusList != null">
   					and t.status in (
   					<foreach collection="statusList" item="item" index="index"  
			            separator=",">  
			            #{item}
			        </foreach>
			        )
   				</if>
                <if test="isSubmit != null">
                    and t.is_submit = #{isSubmit}
                </if>
                <if test="isRefund != null">
                    and t.is_refund = #{isRefund}
                </if>
                <if test="isSend != null">
                    and t.is_send = #{isSend}
                </if>
                <if test="delivery_number != null">
                    and t.delivery_number = ${delivery_number}
                </if>
                <if test="isCancel != null">
                    and t.is_cancel in (
                    <foreach collection="isCancel" item="item" index="index"
                             separator=",">
                        #{item}
                    </foreach>
                    )
                </if>
                <if test="isFinish != null">
                    and t.is_finish = #{isFinish}
                </if>
                <if test="buyer_nick != null">
                    and t.buyer_nick = #{buyer_nick}
                </if>
                <if test="mobile != null">
                    and t.mobile = #{mobile}
                </if>
                <if test="phone != null">
                    and t.phone = #{phone}
                </if>
                <if test="id != null">
                    and t.id = #{id}
                </if>
                <if test="startTime != null and endTime != null">
                    and t.created between '${startTime}' and '${endTime}'
                </if>
   			</where>
	</select>

    <select id="selectTradeByAddress" parameterType="Map" resultType="MyTrade">
        select * from trade2 where name=#{name} and mobile=#{mobile} and state=#{state} and city=#{city}
            and district=#{district} and address=#{address} and is_submit=0 and is_cancel=0 and is_finish=0 and is_send=0
            and status='UnSubmit'
    </select>

    <select id="selectTrade" parameterType="java.util.Map" resultType="MyTrade">
        select * from trade2 t
        <where>
            <if test="sellerNickList != null">
                t.seller_nick in (
                <foreach collection="sellerNickList" item="item" index="index"
                         separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="name != null">
                and t.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="delivery != null">
                and t.delivery = #{delivery}
            </if>
            <if test="tid != null">
                and t.tid like CONCAT('%', #{tid}, '%')
            </if>
            <if test="statusList != null">
                and t.status in (
                <foreach collection="statusList" item="item" index="index"
                         separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="isSubmit != null">
                and t.is_submit = #{isSubmit}
            </if>
            <if test="isRefund != null">
                and t.is_refund = #{isRefund}
            </if>
            <if test="delivery_number != null">
                and t.delivery_number = ${delivery_number}
            </if>
            <if test="isSend != null">
                and t.is_send = #{isSend}
            </if>
            <if test="isCancel != null">
                and t.is_cancel in (
                <foreach collection="isCancel" item="item" index="index"
                         separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="isFinish != null">
                and t.is_finish = #{isFinish}
            </if>
            <if test="buyer_nick != null">
                and t.buyer_nick = #{buyer_nick}
            </if>
            <if test="mobile != null">
                and t.mobile = #{mobile}
            </if>
            <if test="phone != null">
                and t.phone = #{phone}
            </if>
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="startTime != null and endTime != null">
                and t.created between '${startTime}' and '${endTime}'
            </if>
            <if test="order_string != null">${order_string}</if>
            <if test="start != null and page_size != null">
            limit #{start}, #{page_size}
            </if>
        </where>
    </select>

    <select id="selectTradeMapList" parameterType="Map" resultMap="myTradeMap" >
        select t.*,
        o.id as o_id, o.tid as o_tid, o.goods_id as o_goods_id, o.title as o_title, o.pic_path as o_pic_path, o.sku_id as o_sku_id, o.quantity as o_quantity, o.price as o_price,
        o.discount as o_discount, o.weight as o_weight, o.payment as o_payment, o.status as o_status, o.modified as o_modified, o.created as o_created,
        s.color_id as s_color_id, s.color as s_color, s.size as s_size, s.id as s_id
        from
        (select * from trade2
        <where>
            <if test="start_send_time != null and end_send_time != null">
                send_time between '${start_send_time}' and '${end_send_time}'
            </if>
            <if test="sellerNickList != null">
                seller_nick in (
                <foreach collection="sellerNickList" item="item" index="index"
                         separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="name != null">
                and name like CONCAT('%', #{name}, '%')
            </if>
            <if test="delivery != null">
                and delivery = #{delivery}
            </if>
            <if test="tid != null">
                and tid like CONCAT('%', #{tid}, '%')
            </if>
            <if test="statusList != null">
                and status in (
                <foreach collection="statusList" item="item" index="index"
                         separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="isSubmit != null">
                and is_submit = #{isSubmit}
            </if>
            <if test="isRefund != null">
                and is_refund = #{isRefund}
            </if>
            <if test="isSend != null">
                and is_send = #{isSend}
            </if>
            <if test="isCancel != null">
                and is_cancel in (
                <foreach collection="isCancel" item="item" index="index"
                         separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="isFinish != null">
                and is_finish = #{isFinish}
            </if>
            <if test="startTime != null and endTime != null">
                and created between '${startTime}' and '${endTime}'
            </if>
            order by created
            <if test="start != null and page_size != null">
                limit #{start}, #{page_size}
            </if>
        </where>
        )
        t
        left join order2 o on t.id = o.tid
        left join sku s on o.sku_id = s.id
    </select>
	
	<select id="selectTradeMap" parameterType="Map" resultMap="myTradeMap" >
		select t.*,
			   o.id as o_id, o.tid as o_tid, o.goods_id as o_goods_id, o.title as o_title, o.pic_path as o_pic_path, o.sku_id as o_sku_id, o.quantity as o_quantity, o.price as o_price,
			   o.discount as o_discount, o.weight as o_weight, o.payment as o_payment, o.status as o_status, o.modified as o_modified, o.created as o_created,
			   s.color_id as s_color_id, s.color as s_color, s.size as s_size, s.id as s_id
			   from 
			   trade2 t
			   left join order2 o on t.id = o.tid
			   left join sku s on o.sku_id = s.id
        <where>
            <if test="id != null">
                t.id = #{id}
            </if>
            <if test="tid != null">
                t.tid = #{tid}
            </if>
            <if test="isSubmit != null">
                and t.is_submit = #{isSubmit}
            </if>
            <if test="isRefund != null">
                and t.is_refund = #{isRefund}
            </if>
            <if test="isSend != null">
                and t.is_send = #{isSend}
            </if>
            <if test="isCancel != null">
                and t.is_cancel = #{isCancel}
            </if>
            <if test="isFinish != null">
                and t.is_finish = #{isFinish}
            </if>
            <if test="status != null">
                and t.status = #{status}
            </if>
            <choose>
                <when test="orderString != null">
                    ${orderString}
                </when>
                <otherwise>
                    order by t.created
                </otherwise>
            </choose>
        </where>
	</select>
	
	<select id="selectOrderByOrderId" parameterType="Long" resultType="MyOrder">
		select * from order2 where id = #{id}
	</select>
	
	<update id="updateTradeMemo" parameterType="java.util.HashMap">
		update trade2 set seller_memo=#{memo}, modified=#{modified} where id=#{tradeId}
	</update>
	
	<update id="updateTrade" parameterType="MyTrade">
		update trade2 set tid=#{tid}, name=#{name}, phone=#{phone}, mobile=#{mobile}, state=#{state}, city=#{city}, district=#{district}, address=#{address},
			 postcode=#{postcode}, delivery=#{delivery}, delivery_money=#{delivery_money}, delivery_number=#{delivery_number}, destcode=#{destcode},
             origincode=#{origincode}, sf_status=#{sf_status}, template_id=#{template_id},
			 goods_count=#{goods_count}, payment=#{payment}, distributor_id=#{distributor_id}, is_submit=#{is_submit}, is_refund=#{is_refund},
             is_send=#{is_send}, is_cancel=#{is_cancel}, is_finish=#{is_finish}, is_pause=#{is_pause}, is_apply_refund=#{is_apply_refund}, why_cancel=#{why_cancel}, status=#{status},
			 seller_memo=#{seller_memo}, kefu_memo=#{kefu_memo}, cangku_memo=#{cangku_memo}, kefu_msg=#{kefu_msg}, cangku_msg=#{cangku_msg},
             buyer_message=#{buyer_message}, seller_nick=#{seller_nick}, buyer_nick=#{buyer_nick}, come_from=#{come_from},
			 modified=now()
            <if test="submit_time != null">
                , submit_time=#{submit_time}
            </if>
            <if test="cancel_time != null">
                , cancel_time=#{cancel_time}
            </if>
            <if test="find_time != null">
                , find_time=#{find_time}
            </if>
            <if test="scan_time != null">
                , scan_time=#{scan_time}
            </if>
            <if test="send_time != null">
                , send_time=#{send_time}
            </if>
            where id=#{id} and modified=#{modified_string}
	</update>
	
	<update id="updateTradeStatus" parameterType="Map">
		update trade2 set status=#{status} where id=#{id}
	</update>
	
	<update id="updateOrderStatus" parameterType="Map">
		update order2 set status=#{status} where tid=#{tid} and id=#{id}
	</update>

    <delete id="delOrder" parameterType="long">
        delete from order2 where id=#{id}
    </delete>
	
	<update id="updateOrder" parameterType="MyOrder">
		update order2 set tid=#{tid}, goods_id=#{goods_id}, sku_id=#{sku_id}, quantity=#{quantity},
			price=#{price}, discount=#{discount}, weight=#{weight}, payment=#{payment}, delivery=#{delivery},
            delivery_number=#{delivery_number}, status=#{status} where id=#{id}
	</update>
	
	<update id="updateLogisticsAddress" parameterType="java.util.HashMap">
		update trade2 set state=#{state}, city=#{city}, district=#{district}, address=#{address}, mobile=#{mobile}, phone=#{phone},
			postcode=#{zip}, name=#{name}, modified=#{modified} where id=#{tradeId}
	</update>

    <!--用来检查有没有这个sku的订单-->
    <select id="selectOrderBySkuId" parameterType="Map" resultType="int">
        select 1 from order2 where sku_id in (
            <foreach collection="skuIdList" item="item" index="index" separator=",">
                #{item}
            </foreach>
        )
    </select>
</mapper>