<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.halen.data.mapper.MyRefundMapper">

	<resultMap id="refundMap" type="MyRefund">
		<id property="id" column="id"/>
		<result property="tid" column="tid"/>
		<result property="responsible_party" column="responsible_party"/>
		<result property="delivery" column="delivery"/>
		<result property="delivery_number" column="delivery_number"/>
		<result property="why_refund" column="why_refund"/>
		<result property="pic1" column="pic1"/>
		<result property="pic2" column="pic2"/>
		<result property="pic3" column="pic3"/>
		<result property="status" column="status"/>
        <result property="comment" column="comment"/>
		<result property="modified" column="modified"/>
		<result property="created" column="created"/>
        <collection property="refundOrderList" ofType="RefundOrder" >
            <id property="id" column="o_id"/>
            <result property="tid" column="o_tid"/>
            <result property="goods_id" column="o_goods_id"/>
            <result property="title" column="o_title"/>
            <result property="pic_path" column="o_pic_path"/>
            <result property="sku_id" column="o_sku_id"/>
            <result property="quantity" column="quantity"/>
            <result property="tui_quantity" column="tui_quantity"/>
            <result property="huan_quantity" column="huan_quantity"/>
            <result property="bad_quantity" column="bad_quantity"/>
            <result property="modified" column="o_modified"/>
            <result property="created" column="o_created"/>
            <association property="sku" javaType="MySku">
                <id property="id" column="s_id"/>
                <result property="color_id" column="s_color_id"/>
                <result property="color" column="s_color"/>
                <result property="size" column="s_size"/>
            </association>
        </collection>
	</resultMap>
	
	<insert id="insert" parameterType="MyRefund">
		insert into refund values (
			null, #{tid}, #{responsible_party}, #{delivery}, #{delivery_number}, #{why_refund}, #{pic1}, #{pic2}, #{pic3},
			#{status}, #{comment}, now(), now())
	</insert>

    <insert id="insertRefundOrder" parameterType="RefundOrder">
        insert into refund_order values (
            null, #{tid}, #{goods_id}, #{title}, #{pic_path}, #{sku_id}, #{quantity}, #{tui_quantity}, #{huan_quantity}, #{bad_quantity}, now(), now())
    </insert>
	
	<select id="countRefund" parameterType="java.util.Map" resultType="Long">
		select count(*) from refund r
   			<where>
   				<if test="sellerNickList != null">
   					r.seller_nick in (
   					<foreach collection="sellerNickList" item="item" index="index"  
			            separator=",">  
			            #{item}
			        </foreach>
   					)
   				</if>
   				<if test="tid != null">
   					and r.tid like CONCAT('%', #{tid}, '%')
   				</if>
   				<if test="name != null">
   					and r.name like CONCAT('%', #{name}, '%')
   				</if>
   				<if test="statusList != null">
   					and r.status in (
   					<foreach collection="statusList" item="item" index="index"  
			            separator=",">  
			            #{item}
			        </foreach>
			        )
   				</if>
   			</where>
	</select>
	
	<select id="selectRefundMap" parameterType="String" resultMap="refundMap" >
		select r.*,
			   o.id as o_id, o.tid as o_tid, o.goods_id as o_goods_id, o.title as o_title, o.pic_path as o_pic_path, o.sku_id as o_sku_id,
                o.quantity as quantity, o.tui_quantity as tui_quantity, o.bad_quantity as bad_quantity,
               o.huan_quantity as huan_quantity, o.modified as o_modified, o.created as o_created,
			   s.id as s_id, s.color_id as s_color_id, s.color as s_color, s.size as s_size
			   from 
			   refund r join refund_order o on r.tid = o.tid
                join sku s on o.sku_id = s.id
                where r.tid = #{tid}
	</select>
	
	<update id="updateStatus" parameterType="java.util.HashMap">
		update refund set status=#{status} where id=#{id}
	</update>
	
	<select id="selectByTidOid" parameterType="java.util.Map" resultType="MyRefund">
		select * from refund where tid=#{tid} and oid=#{oid}
	</select>
	
	<update id="updateRefund" parameterType="MyRefund">
		update refund set tid=#{tid}, responsible_party=#{responsible_party}, delivery=#{delivery}, delivery_number=#{delivery_number},
             why_refund=#{why_refund},
			 pic1=#{pic1}, pic2=#{pic2}, pic3=#{pic3},
			 status=#{status}, comment=#{comment}, modified=now() where id=#{id}
	</update>

    <update id="updateRefundOrder" parameterType="RefundOrder">
        update refund_order set tid=#{tid}, goods_id=#{goods_id}, title=#{title}, pic_path=#{pic_path}, sku_id=#{sku_id},
            quantity=#{quantity}, tui_quantity=#{tui_quantity}, bad_quantity=#{bad_quantity}, huan_quantity=#{huan_quantity},
            modified=now() where id=#{id}
    </update>
	
</mapper>