.tab {
    float: left;
    width: 100%;
    border: solid 1px rgb(153, 153, 153);
    padding: 10px;
    font: white;
}

.left {
    width: 18%;
    float: left;
    padding: 16px 10px;
}

.right {
    width: 75%;
    padding: 10px;
    float: right;
}